<app-titulo [titulo]="'Perfil'" [iconClass]="'fas fa-address-card'"></app-titulo>
<div class="card rounded shadow-sm">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row p-3">
      <div class="col-lg-3 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>
          <div class="d-flex align-self-center pt-3">
            <a>
              <img
                src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                name="aboutme" width="120" height="120" class="rounded-circle">
            </a>
          </div>
          <div class="card-body">
            <div class="h4 text-center mb-3">@{{f.userName.value}}</div>
            <div class="h7 text-bold pb-1"><b>Nome: </b>{{f.primeiroNome.value + ' ' + f.ultimoNome.value}}</div>
            <div class="h7 text-bold pb-1"><b>Profissão: </b> {{f.profissao.value}}</div>
            <div class="h7 text-bold pb-1"><b>Perfil: </b> {{f.funcao.value}}</div>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="form-row">
          <div class="form-group col-12">
            <h3 class="border-bottom">Detalhe Perfil</h3>
          </div>
          <div class="form-group col-sm-4">
            <label>Primeiro Nome</label>
            <input type="text" class="form-control" formControlName="primeiroNome"
              [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched}" />
            <div *ngIf="f.primeiroNome.errors?.required" class="invalid-feedback">Primeiro Nome é obrigatório</div>
          </div>
          <div class="form-group col-sm-4">
            <label>Último nome</label>
            <input type="text" class="form-control" formControlName="ultimoNome"
              [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched}" />
            <div *ngIf="f.ultimoNome.errors?.required" class="invalid-feedback">Ultimo Nome é obrigatório</div>
          </div>
          <div class="form-group col-sm-4">
            <label>Profissão</label>
            <select formControlName="profissao" class="form-control"
              [ngClass]="{'is-invalid': f.profissao.errors && f.profissao.touched}">
              <option value="NaoInformado">Não Informado</option>
              <option value="Tecnologo">Tecnólogo(a)</option>
              <option value="Mecanico">Mecânico</option>
              <option value="Enfermeira">Enfermeira</option>
              <option value="Medico">Médico</option>
              <option value="Dentista">Dentista</option>
              <option value="Empresario">Empresário</option>
              <option value="Musico">Músico</option>
            </select>
            <div *ngIf="f.profissao.errors && f.profissao.touched" class="invalid-feedback">
              <div *ngIf="f.profissao.errors.required">Profissão é obrigatória</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-4">
            <label>E-mail</label>
            <input type="text" class="form-control" formControlName="email"
              [ngClass]="{'is-invalid': f.email.errors && f.email.touched}" />
            <div *ngIf="f.email.errors?.required" class="invalid-feedback">Email é obrigatório</div>
            <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">E-mail é inválido</div>
          </div>
          <div class="form-group col-sm-4">
            <label>Telefone</label>
            <input type="text" class="form-control" formControlName="phoneNumber"
            [ngClass]="{'is-invalid': f.phoneNumber.errors && f.phoneNumber.touched}" />
            <div *ngIf="f.phoneNumber.errors && f.phoneNumber.touched" class="invalid-feedback">
              <div *ngIf="f.phoneNumber.errors.required">Telefone é obrigatório</div>
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label>Função</label>
            <select formControlName="funcao" class="form-control"
              [ngClass]="{'is-invalid': f.funcao.errors && f.funcao.touched }">
              <option value="NaoInformado">Não Informado</option>
              <option value="Admin">Administrador</option>
              <option value="Usuario">Usuário</option>
            </select>
            <div *ngIf="f.funcao.errors && f.funcao.touched" class="invalid-feedback">
              <div *ngIf="f.funcao.errors.required">Função é obrigatória</div>
            </div>
          </div>
        </div>
        <div>
          <h3 class="pt-3 border-bottom">Mudar Senha</h3>
          <p>Caso mude de senha, preencha os campos abaixo:</p>
        </div>
        <div class="form-row">
          <div class="form-group col-sm">
            <label>Senha</label>
            <input type="password" class="form-control" formControlName="password"
              [ngClass]="{'is-invalid': f.password.errors && f.password.touched}" />
            <div *ngIf="f.password.errors && f.password.touched" class="invalid-feedback">
              <div *ngIf="f.password.errors?.required">Senha é obrigatória</div>
              <div *ngIf="f.password.errors?.minlength">Senha precisa ter pelo menos 4 caracteres</div>
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Confirmar Senha</label>
            <input type="password" class="form-control" formControlName="confirmePassword"
              [ngClass]="{'is-invalid': f.confirmePassword.errors && f.confirmePassword.touched}" />
            <div *ngIf="f.confirmePassword.errors && f.confirmePassword.touched" class="invalid-feedback">
              <div *ngIf="f.confirmePassword.errors?.required">Confirmação de senha é obrigatória</div>
              <div *ngIf="f.confirmePassword.errors?.mustMatch">Repetir a senha é obrigatório</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button (click)="resetForm($event)" class="btn btn-outline-secondary mr-auto border">
          Cancelar Alteração
        </button>
        <button type="submit" class="btn btn-success">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Alteração
        </button>
      </div>
    </div>
  </form>
</div>
