<h2>Aniversários</h2>
<hr>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2" placeholder="buscar"
    [(ngModel)]="filtroLista">
  </div>
</div>
<table class="table table-stripped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn sm"
        (click)="alterarImagem()">{{!exibirImg ? "exibir" : "ocultar"}}</button>
      </th>
      <th>#</th>
      <th>Nome</th>
      <th>Data Aniversário</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Parentesco</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="aniversarios && aniversarios.length">
    <tr *ngFor="let niver of aniversariosFiltrados">
      <td>
        <img [collapse]="!exibirImg" [isAnimated]="true"
        src="/assets/{{niver.imagemUrl}}" [style.width.px]="larguraImg" [style.margin.px]="margemImg">
      </td>
      <td>{{niver.id}}</td>
      <td>{{niver.nome}}</td>
      <td>{{niver.dataAniversario}}</td>
      <td>{{niver.email}}</td>
      <td>{{niver.telefone}}</td>
      <td></td>
      <td style="text-align: center;">
        <button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!aniversarios.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum aniversário encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
